@import "../core/Reset.scss";
@import "../core/Vars.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient($--color-dark-blue, $--color-purple, $--color-pink);
}


.calculator {
box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
max-width: 450px;
border-radius: 16px;
background-color: $--color-orange;
padding: 15px;
margin: 0 30px 0 30px;

   &__resetAndResult {
    display: flex;
    align-items: center;
   }

   
   //RESULT VIEW

   &__display {
    padding: 16px;
    text-align: right;
    color: $--color-white;
    font-size: 24px;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    background-color: $--color-blue;

    &--result {
        font-size: 14px;
        color: $--color-ligth-grey;
    }
   }


   //BUTTONS

   &__button {
    appearance: none;
    border: none;
    outline: none;
    color: $--color-white;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
  
    &:hover {
        opacity: 0.9;
    }
   }

    &__operators {
        display: flex; 
    }


    //BUTTON OPERATORS

    &__button--operators {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 30.4%;
    flex-wrap: wrap;
    background-color: $--color-ligth-pink;
    color: $--color-white;
    font-weight: bolder;
    margin: 5px;
    border-radius: 5px;
   }

   
   //DIGITS 

   &__digits {
    display: flex;
    flex-wrap: wrap;
   }

   &__button--digits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 30.4%;
    flex: 1 1 20%;
    flex-wrap: wrap;
    background-color: $--color-white;
    color: $--color-blue;
    font-weight: bolder;
    margin: 5px;
    border-radius: 5px;
   }

    &__button--clear {
    background-color: $--color-purple;
    color: $--color-white;
    height: 60px;
   }
}

 @media all and (min-width: 768px) {

    .container {
        height: 70vh;
    }
   }