
// BACKGROUND COLORS
$--color-pink: rgb(191, 108, 134);
$--color-purple: rgb(112, 80, 143);
$--color-dark-blue: rgb(50, 92, 127);
$--color-ligth-grey: rgb(190, 190, 190);
$--color-grey: rgba(0, 0, 0, 0.45);
$--color-blue: #315c7f;

// COLORS CALCULATOR
$--color-ligth-pink: #F17680;
$--color-orange: rgb(248, 177, 142);
$--color-white: #ffff;

//HOVER COLORS
$--color-hover-pink: #f1398f;
$--color-hover-purple: rgb(141, 55, 221);


