

$--color-white: #ffff;




$--color-ligth-blue: #A8CDF0;
$--color-blue: #6EADE7;


// BACKGROUND COLORS
$--color-pink: rgb(191, 108, 134);
$--color-purple: rgb(109, 90, 127);
$--color-dark-blue: rgb(50, 92, 127);
$--color-ligth-grey: #888;

// COLORS CALCULATOR