
$--color-purple: #8c38ff;
$--color-black: #131a26;
$--color-white: #ffff;
$--color-bg:  #eee;
$--color-ligth-grey: #888;

//

$--color-ligth-blue: #A8CDF0;
$--color-dark-blue: #6EADE7;
$--color-pink: #f07ba2;