@import "../styles/core/Reset.scss";
@import "../styles/core/Vars.scss";


.app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: 400px;
}



.calculator {
   width: 100%;
   max-width: 400px;
   background-color: $--color-white;
   border-radius: 16px;
   overflow: hidden;
   box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);


   //RESULT VIEW
   &__display {
    padding: 16px;
    text-align: right;
    background-color: $--color-black;
    color: $--color-white;
    font-size: 24px;
    font-weight: 300;

    &--result {
        font-size: 14px;
        color: $--color-ligth-grey;
    }
   }

   //BUTTONS

   &__button {
    appearance: none;
    border: none;
    outline: none;
    color: $--color-white;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        opacity: 0.9;
    }
   }
   
    &__operators {
        display: flex; 
    }


    //BUTTON OPERATORS
    &__button--operators {
    flex: 1 1 0%;
    background-color: $--color-pink;
   }

   //DIGITS 

   &__digits {
    display: flex;
    flex-wrap: wrap;
   }

   &__button--digits {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    background-color: $--color-black;
   }
}
