@import "../styles/core/Reset.scss";
@import "../styles/core/Vars.scss";

//POSICIONAR CALCULADORA EN EL CENTRO!!!!
.container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16px;
}


.calculator {
   width: 100%;
   max-width: 400px;
   border-radius: 16px;
   overflow: hidden;
   box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
   background-color: $--color-ligth-blue;
   padding: 15px;

   &__resetAndResult {
    display: flex;
   }

   
   //RESULT VIEW
   &__display {
    padding: 16px;
    text-align: right;
    color: $--color-white;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    background-color: $--color-dark-blue;

    &--result {
        font-size: 14px;
        color: $--color-ligth-grey;
    }
   }


   //BUTTONS

   &__button {
    appearance: none;
    border: none;
    outline: none;
    color: $--color-white;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
  
    &:hover {
        opacity: 0.9;
    }
   }

    &__operators {
        display: flex; 
    }


    //BUTTON OPERATORS
    &__button--operators {
    // flex: 1 1 0%;
    // background-color: $--color-pink;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 30.4%;
    flex-wrap: wrap;
    background-color: $--color-pink;
    color: $--color-white;
    font-weight: bolder;
    margin: 5px;
    border-radius: 5px;
   }

   //DIGITS 

   &__digits {
    display: flex;
    flex-wrap: wrap;
   }

   &__button--digits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 30.4%;
    flex-wrap: wrap;
    background-color: $--color-white;
    color: $--color-dark-blue;
    font-weight: bolder;
    margin: 5px;
    border-radius: 5px;
   }
}
